.container {
  height: 470px;
  width: 470px;
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  display: grid;
  place-items: center;
  background: linear-gradient(rgba(5, 7, 12, 0.8), rgba(5, 7, 12, 0.8)),
    url(https://media.istockphoto.com/vectors/retro-neon-background-with-80s-styled-laser-grid-and-stars-vector-id969345240?k=20&m=969345240&s=612x612&w=0&h=0D7klrjqPEp3K0VHP-ojB4ThH-1RLxwQk_SBOxDlLy8=)
      center no-repeat;
  background-size: 100%;
  border-radius: 30px;
}

.title {
  color: wheat;
  font-size: 30px;
}

.genre {
  color: wheat;
  font-size: 25px;
}

.rating {
  color: wheat;
  font-size: 20px;
}

.image {
  border: 1px solid violet;
  padding: 10px;
  border-radius: 30px;
  margin: 10px 0;
  transition: all 1s;
}

.image:hover {
  transform: scale(1.5);
  border: none;
}

.currentGames_button {
  display: inline;
  margin: 5px 10px;
  border: none;
  padding: 7px;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url(https://static.vecteezy.com/system/resources/previews/003/953/817/non_2x/colorful-light-keyboard-for-gaming-backlit-keyboard-with-versatile-color-schemes-light-purple-photo.jpg);
  background-size: 100%;
  color: white;
  border-radius: 20px;
  font-size: 15px;
  transition: all 1s;
  width: 80px;
  text-decoration: none;
}

.currentGames_delete {
  display: inline;
  margin: 5px auto;
  border: none;
  padding: 7px;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url(https://static.vecteezy.com/system/resources/previews/003/953/817/non_2x/colorful-light-keyboard-for-gaming-backlit-keyboard-with-versatile-color-schemes-light-purple-photo.jpg);
  background-size: 100%;
  color: white;
  border-radius: 20px;
  font-size: 15px;
  transition: all 1s;
  width: 80px;
  text-decoration: none;
}

.addFavourites {
  display: inline;
  margin: 5px 10px;
  border: none;
  padding: 7px;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url(https://static.vecteezy.com/system/resources/previews/003/953/817/non_2x/colorful-light-keyboard-for-gaming-backlit-keyboard-with-versatile-color-schemes-light-purple-photo.jpg);
  background-size: 100%;
  color: white;
  border-radius: 20px;
  font-size: 15px;
  transition: all 1s;
  width: 80px;
  text-decoration: none;
}

.currentGames_button:hover {
  cursor: pointer;
  transform: scale(1.3);
}
