.currenGames {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container_div {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-color: rgba(50, 7, 50, 0.5);
  height: 100px;
}

.title {
  margin-top: 20px;
  font-family: "Cedarville Cursive", cursive;
  text-shadow: 0 0 5px violet, 0 0 5px violet, 0 0 5px violet, 0 0 5px violet;
  animation: parp 2s infinite backwards;
  display: inline-block;
}

@keyframes parp {
  to {
    color: blueviolet;
    text-shadow: none;
  }
}

.div_buttons {
  margin-left: 60px;
  margin-bottom: 20px;
}

.div_buttons button {
  margin: 0 15px;
  height: 40px;
  width: 100px;
  border-radius: 30px;
  border: none;
  background-color: rgb(61, 7, 75);
  transition: all 1s;
  color: wheat;
  margin-top: 20px;
}

.buttonFavourites {
  margin: 20px 40px;
  height: 40px;
  width: 150px;
  border-radius: 30px;
  border: none;
  background-color: rgb(61, 7, 75);
  transition: all 1s;
  color: wheat;
}

.div_buttons button:hover {
  background-color: rgb(50, 7, 50);
  cursor: pointer;
  transform: scale(1.2);
}

.div_filters_sorts {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: rgba(0, 0, 0, 0.7);
  padding: 15px;
}

.div_filters_sorts select {
  background-color: rgb(61, 7, 75);
  height: 20px;
  border-radius: 30px;
  color: wheat;
}

.div_filters_sorts option {
  color: wheat;
}

@media screen and (max-width: 1435px) {
  .container_div {
    height: 100%;
    width: 100%;
    text-align: center;
    display: block;
    text-align: center;
  }
  .title {
    display: block;
  }
  .div_buttons {
    display: block;
    margin-left: 0;
  }
}

@media screen and (max-width: 370px) {
  .container_div {
    width: 370px;
    min-width: 250px;
    padding: 0;
    margin: 0;
  }
}
