.conteiner {
  margin-top: 5px;
  display: inline-block;
  position: absolute;
  right: 10px;
}

.divConteiner {
  width: 500px;
}

.divConteiner input {
  margin: 2px 0;
}

.input {
  height: 30px;
  width: 300px;
  border-radius: 30px;
  padding: 5px;
}

.button {
  height: 30px;
  width: 150px;
  border-radius: 30px;
  border: none;
  margin-left: 5px;
  background-color: rgb(61, 7, 75);
  transition: all 1s;
  color: wheat;
}

.button:hover {
  background-color: rgb(50, 7, 50);
  cursor: pointer;
  transform: scale(1.2);
}

@media screen and (max-width: 1435px) {
  .conteiner {
    position: relative;
    display: block;
    margin-bottom: 15px;
    text-align: center;
  }
  .divConteiner {
    width: 300px;
    display: inline-block;
  }
  .button {
    width: 100px;
  }
}
