body {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url(https://us.123rf.com/450wm/soifer/soifer1806/soifer180600033/103260319-vector-de-letrero-de-ne%C3%B3n-de-gamepad-y-smartphone-juegos-para-logotipo-de-tel%C3%A9fono-inteligente-emble.jpg?ver=6);
  background-size: 100%;
}

.conteiner {
  padding: 20px;
}

.name {
  text-align: center;
  font-size: 50px;
  color: wheat;
}

.buttonDetail {
  display: block;
  margin: auto;
  margin-top: 25px;
  height: 30px;
  width: 100px;
  border-radius: 30px;
  border: none;
  background-color: rgb(62, 7, 75);
  transition: all 1s;
  color: white;
}

button:hover {
  background-color: rgb(50, 7, 50);
  cursor: pointer;
  transform: scale(1.2);
}

.conteinerDH {
  height: 450px;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  border: 10px double rgb(50, 7, 50);
  overflow: auto;
}

.image {
  margin-right: 20px;
  float: left;
  width: 500px;
  height: 450px;
}

.containerDetail {
  color: white;
}

.genre {
  margin-bottom: 20px;
}

.platforms {
  margin-bottom: 20px;
}

.released {
  margin-bottom: 20px;
}

.rating {
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
}
