body {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url(https://media.istockphoto.com/photos/neon-sign-on-a-brick-wall-glowing-purple-rectangle-abstract-spectrum-picture-id1312916029?k=20&m=1312916029&s=612x612&w=0&h=36xuTToVxqO50wRgxMxg-IGFvDtcWLTarLLBLeG4NWk=);
  background-size: 100%;
  background-attachment: fixed;
}

.conteiner {
  padding: 20px;
}

.name {
  text-align: center;
  font-size: 50px;
  color: wheat;
}

.buttonDetail {
  display: block;
  margin: auto;
  margin-top: 25px;
  height: 30px;
  width: 100px;
  border-radius: 30px;
  border: none;
  background-color: rgb(62, 7, 75);
  transition: all 1s;
  color: white;
}

button:hover {
  background-color: rgb(50, 7, 50);
  cursor: pointer;
  transform: scale(1.2);
}

.conteinerDH {
  min-height: 510px;
  max-height: 100%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  border: 10px double rgb(50, 7, 50);
}

.image {
  margin-right: 20px;
  float: left;
  width: 500px;
  height: 450px;
}

.containerDetail {
  color: white;
}

.genre {
  margin-bottom: 20px;
}

.platforms {
  margin-bottom: 20px;
}

.released {
  margin-bottom: 20px;
}

.rating {
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  text-align: center;
}

.loadingConteiner {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 1500px) {
  .conteinerDH {
    height: 100%;
    text-align: center;
  }

  .image {
    width: 100%;
  }
}
