* {
  margin: 0;
  padding: 0;
}

.conteiner {
  margin: 0;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url(https://media.istockphoto.com/photos/professional-gaming-and-streaming-setup-in-neon-color-picture-id1394312794?k=20&m=1394312794&s=612x612&w=0&h=qHT8lmmbrKq5xnDYuKCzzdit1uz-l1nvGSHku8kePho=);
  background-size: 100%;
  text-align: center;
  height: 100vh;
}

.title {
  color: wheat;
  font-size: 50px;
  font-family: "Cedarville Cursive", cursive;
  text-shadow: 0 0 5px violet, 0 0 5px violet, 0 0 5px violet, 0 0 5px violet;
  animation: parp 2s infinite backwards;
}

@keyframes parp {
  to {
    color: blueviolet;
    text-shadow: none;
  }
}

.conteiner div {
  height: 300px;
  width: 300px;
  display: inline-block;
  margin: 0 80px;
  padding: 16px;
  border-radius: 30px;
  margin-top: 90px;
  margin-bottom: 50px;
}

.conteiner div h2 {
  margin-top: 120px;
  color: wheat;
}
.search {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url(https://media.istockphoto.com/photos/powerful-personal-computer-gamer-rig-with-firstperson-shooter-game-on-picture-id1157159213?k=20&m=1157159213&s=612x612&w=0&h=oYVqFen_st-jxHXy3KzZXmbaQlDwo06HJmbZDZJO7KE=);
}

.put {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url(https://media.istockphoto.com/photos/little-boy-playing-video-game-picture-id1193686901?k=20&m=1193686901&s=612x612&w=0&h=9-KCAAIw_b_11GK2trlfenNyN5FBhkz14x8K_JghOGk=)
      center;
}

.more {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url(https://media.istockphoto.com/photos/young-gamer-playing-online-video-games-while-streaming-on-social-picture-id1295463713?k=20&m=1295463713&s=612x612&w=0&h=2qSCa543D4c2gLWarM4ZUaMiHG_QhdY13EIdQkG7vIo=);
}

.button {
  display: block;
  margin: auto;
  border: none;
  padding: 12px;
  font-size: 20px;
  border-radius: 30px;
  background: #581579;
  color: wheat;
  transition: all 0.5s;
}

.button:hover {
  background-color: #45105f;
  cursor: pointer;
}

.h5 {
  margin-top: 70px;
  color: wheat;
}
